* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: "Rubik", sans-serif;
}

.card {
    border: none;
    border-radius: 0.5rem;
}

h5 {
    font-size: 1rem;
    padding-left: 1rem;
}

.w--90 {
    width: 90%;
}

.--avatar {
    width: 2rem;
}

.--time {
    color: #7e7e7e;
    padding-left: 1rem;
}

.--text {
    color: #7e7e7e;
    padding: 0 1rem;
}

.input-group {
    background-color: #f7f7f7;
    border-radius: 0.5rem;
}

.input-number {
    background-color: #f7f7f7;
    border: none;
    color: hsl(238, 40%, 52%);
    font-size: 0.9rem;
    padding: 0.2rem;
}

.--input {
    padding-left: 0.5rem;
}

.fa-plus,
.fa-minus {
    color: hsl(238, 40%, 52%);
}

.--reply,
.--delete,
.--edit {
    background-color: #fff;
    border: none;
    color: hsl(238, 40%, 52%) !important;
    text-align: end;
}

.--delete {
    color: rgba(255, 0, 0, 0.753) !important;
}