* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
}

.card {
    border: none;
    border-radius: 0.5rem;
}

h5 {
    font-size: 1rem;
    padding-left: 1rem;
}

.mt--2 {
    margin-top: 2rem !important;
}

.w--90 {
    width: 90%;
}

.--avatar {
    width: 2rem;
}

.--time {
    color: #7e7e7e;
    padding-left: 1rem;
}

.--text {
    color: #7e7e7e;
    padding: 0 1rem;
}

.input-group {
    background-color: #f7f7f7;
    border-radius: 0.5rem;
}

.input-number {
    background-color: #f7f7f7;
    border: none;
    color: hsl(238, 40%, 52%);
    font-size: 0.9rem;
    padding: 0.2rem;
}

.--input {
    padding-left: 0.5rem;
    max-width: 9rem;
}

.num--input {
    width: 1.5rem !important;
}

.fa-plus,
.fa-minus {
    color: hsl(238, 40%, 52%);
}

.--reply,
.--delete,
.--edit {
    background-color: #fff;
    border: none;
    color: hsl(238, 40%, 52%) !important;
    text-align: end;
}

.--reply:hover,
.--edit:hover {
    color: hsl(238, 76%, 39%) !important;
}

.--delete {
    color: rgba(255, 61, 61, 0.753) !important;
}

.--delete:hover {
    color: rgba(255, 0, 0, 0.753) !important;
}

.--delete-bg {
    background-color: rgba(255, 61, 61, 0.753) !important;
}

.--delete-bg:hover {
    background-color: rgba(255, 0, 0, 0.753) !important;
}

.--at {
    color: hsl(238, 40%, 52%) !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn--you {
    background-color: hsl(238, 40%, 52%);
    border-top: 0;
    border-color: #fff;
    border-radius: 0.1rem;
    color: #fff;
    font-size: 0.8rem;
    padding: 0 0.4rem 0.1875rem;
}

.btn--you:hover {
    background-color: hsl(238, 76%, 39%) !important;
    color: #fff !important;
}

.modal-header,
.modal-footer {
    border: none;
}


/* Frontend Mentor Default */

.attribution {
    font-size: 11px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Media Query: Screen Size Bigger Than 48rem / 768px */

@media only screen and (min-width: 48rem) {
    body {
        width: 48rem;
    }
}